<h1>Sign In</h1>
<h5> You must be signed in to access band data.</h5>
<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  Email: <input type="text" name="user[email]">
  <br>
  Password: <input type="text" name="user[password]">
  <input type="submit" value="Log In">
</form>
